body {line-height: 1;}
body {background-color: #F5F5F5;
   background-size: 100vh;
   background-repeat: no-repeat;
   background-attachment: fixed;}
li{ display: inline;} 
ul{text-align: center;}
header{border-bottom: 1px solid black }
   div{width: 350px;
    padding: 10px;
    border: 3px solid black;
    margin: 0;} 
    button{width: 350px;
      padding: 10px;
      border: 3px solid black;
      margin: 0;background-color: #F5F5F5;}
section{display: block;
   width: 333px;margin: 0 auto; height: 487px;
   left: 126px;
   top: 247px;}
   
.ab{text-align: center; }
.cu{width: 268px;
   height: 38px;
   left: 175px;
   top: 447px;}
.line {display: flex;
      justify-content: space-between;
      padding: 30px 536px;
      font-size: 18px;
      line-height: 27px;}
.img { margin-top: 11px;
         width: 310px;
         height: 328px;}
.div{display: flex;
   justify-content: space-between;
   padding: 166px 125px ;}

.about{font-size: 25px;
   line-height: 37.5px;
   margin-top: 117px;
   margin-left: 175px;}
.contact{ text-align: left;
   margin-top: 28px;
   font-size: 25px;
   line-height: 37.5px;}
